<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>IngesupWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AgendaServlet</display-name>
    <servlet-name>AgendaServlet</servlet-name>
    <servlet-class>com.ingesup.controllers.Menu</servlet-class>
    <init-param>
      <param-name>choix</param-name>
      <param-value>Agenda</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgendaServlet</servlet-name>
    <url-pattern>/Agenda</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoteServlet</display-name>
    <servlet-name>NoteServlet</servlet-name>
    <servlet-class>com.ingesup.controllers.Menu</servlet-class>
    <init-param>
      <param-name>choix</param-name>
      <param-value>Note</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoteServlet</servlet-name>
    <url-pattern>/Note</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AbscenceServlet</display-name>
    <servlet-name>AbscenceServlet</servlet-name>
    <servlet-class>com.ingesup.controllers.Menu</servlet-class>
    <init-param>
      <param-name>choix</param-name>
      <param-value>Abscence</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AbscenceServlet</servlet-name>
    <url-pattern>/Abscence</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupeServlet</display-name>
    <servlet-name>GroupeServlet</servlet-name>
    <servlet-class>com.ingesup.controllers.Menu</servlet-class>
    <init-param>
      <param-name>choix</param-name>
      <param-value>Groupe</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupeServlet</servlet-name>
    <url-pattern>/Groupe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QCMServlet</display-name>
    <servlet-name>QCMServlet</servlet-name>
    <servlet-class>com.ingesup.controllers.Menu</servlet-class>
    <init-param>
      <param-name>choix</param-name>
      <param-value>QCM</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>QCMServlet</servlet-name>
    <url-pattern>/QCM</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DocumentServlet</display-name>
    <servlet-name>DocumentServlet</servlet-name>
    <servlet-class>com.ingesup.controllers.Menu</servlet-class>
    <init-param>
      <param-name>choix</param-name>
      <param-value>Document</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentServlet</servlet-name>
    <url-pattern>/Document</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>GestionServlet</display-name>
    <servlet-name>GestionServlet</servlet-name>
    <servlet-class>com.ingesup.controllers.Menu</servlet-class>
    <init-param>
      <param-name>choix</param-name>
      <param-value>Gestion</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionServlet</servlet-name>
    <url-pattern>/Gestion</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>GestionClasseServlet</display-name>
    <servlet-name>GestionClasseServlet</servlet-name>
    <servlet-class>com.ingesup.controllers.Menu</servlet-class>
    <init-param>
      <param-name>choix</param-name>
      <param-value>Gestion_classe</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionClasseServlet</servlet-name>
    <url-pattern>/Gestion_classe</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>GestionEtudiantServlet</display-name>
    <servlet-name>GestionEtudiantServlet</servlet-name>
    <servlet-class>com.ingesup.controllers.Menu</servlet-class>
    <init-param>
      <param-name>choix</param-name>
      <param-value>Gestion_etudiant</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionEtudiantServlet</servlet-name>
    <url-pattern>/Gestion_etudiant</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>GestionProfesseurServlet</display-name>
    <servlet-name>GestionProfesseurServlet</servlet-name>
    <servlet-class>com.ingesup.controllers.Menu</servlet-class>
    <init-param>
      <param-name>choix</param-name>
      <param-value>Gestion_professeur</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionProfesseurServlet</servlet-name>
    <url-pattern>/Gestion_professeur</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>GestionCourServlet</display-name>
    <servlet-name>GestionCourServlet</servlet-name>
    <servlet-class>com.ingesup.controllers.Menu</servlet-class>
    <init-param>
      <param-name>choix</param-name>
      <param-value>Gestion_cour</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionCourServlet</servlet-name>
    <url-pattern>/Gestion_cour</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>AuthServlet</display-name>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>com.ingesup.controllers.Authentification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/Auth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthDownServlet</display-name>
    <servlet-name>AuthDownServlet</servlet-name>
    <servlet-class>com.ingesup.controllers.Deconnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthDownServlet</servlet-name>
    <url-pattern>/AuthDown</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalendarServlet</display-name>
    <servlet-name>CalendarServlet</servlet-name>
    <servlet-class>com.ingesup.controllers.CalendarController</servlet-class>
    <init-param>
      <param-name>operation</param-name>
      <param-value>ajouter</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalendarServlet</servlet-name>
    <url-pattern>/ajouter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionPersonne</display-name>
    <servlet-name>GestionPersonne</servlet-name>
    <servlet-class>com.ingesup.controllers.GestionPersonne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionPersonne</servlet-name>
    <url-pattern>/AjoutPersonne</url-pattern>
  </servlet-mapping>
  <servlet>
		<description></description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.ingesup.controllers.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
  
<!--   Implementation du service identification et autorisation d'accès aux ressources 
	  par acteur -->
  <security-constraint>
		<display-name>Contrainte_1</display-name>
		<web-resource-collection>
			<web-resource-name>SecuredRessources1</web-resource-name>			
<!-- 			<url-pattern>/views/service_pedagogique/*</url-pattern>  pour toutes les autres-->
				<url-pattern>/views/service_pedagogique/secured.jsp</url-pattern>
			
		</web-resource-collection>
		<auth-constraint>
			<description>Gestion de l'etablissement</description>
			<role-name>gestion</role-name>
		</auth-constraint>
	</security-constraint>

  <security-constraint>
		<display-name>Contrainte_2</display-name>
		<web-resource-collection>
			<web-resource-name>SecuredRessources2</web-resource-name>
			<url-pattern>/views/etudiant/secured.jsp</url-pattern>
			<url-pattern>/views/etudiant/Agenda.jsp</url-pattern>
<!-- 			<url-pattern>/views/etudiant/*</url-pattern>	pour toutes les autres			 -->
		</web-resource-collection>
		<auth-constraint>
			<description>Consultation des informations</description>			
			<role-name>etudiant</role-name>
		</auth-constraint>
	</security-constraint>
	
  <security-constraint>
		<display-name>Contrainte_Global</display-name>
		<web-resource-collection>
			<web-resource-name>SecuredRessourcesGlobal</web-resource-name>
			<url-pattern>/Auth</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description>Consultation des informations</description>			
			<role-name>etudiant</role-name>
			<role-name>gestion</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
		<form-login-page>/formulaires/loginAuth.jsp</form-login-page>
		<form-error-page>/formulaires/error.jsp</form-error-page>
		</form-login-config>
	</login-config>

	<security-role>
		<role-name>gestion</role-name>
	</security-role>
	<security-role>
		<role-name>etudiant</role-name>
	</security-role>	
  
</web-app>