<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>IngesupWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <!-- MENU -->
  <servlet>
    <description></description>
    <display-name>AgendaServlet</display-name>
    <servlet-name>AgendaServlet</servlet-name>
    <servlet-class>com.ingesup.controllers.Menu</servlet-class>
    <init-param>
      <param-name>choix</param-name>
      <param-value>Agenda</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgendaServlet</servlet-name>
    <url-pattern>/Agenda</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoteServlet</display-name>
    <servlet-name>NoteServlet</servlet-name>
    <servlet-class>com.ingesup.controllers.Menu</servlet-class>
    <init-param>
      <param-name>choix</param-name>
      <param-value>Note</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoteServlet</servlet-name>
    <url-pattern>/Note</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AbscenceServlet</display-name>
    <servlet-name>AbscenceServlet</servlet-name>
    <servlet-class>com.ingesup.controllers.Menu</servlet-class>
    <init-param>
      <param-name>choix</param-name>
      <param-value>Abscence</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AbscenceServlet</servlet-name>
    <url-pattern>/Abscence</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupeServlet</display-name>
    <servlet-name>GroupeServlet</servlet-name>
    <servlet-class>com.ingesup.controllers.Menu</servlet-class>
    <init-param>
      <param-name>choix</param-name>
      <param-value>Groupe</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupeServlet</servlet-name>
    <url-pattern>/Groupe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DocumentServlet</display-name>
    <servlet-name>DocumentServlet</servlet-name>
    <servlet-class>com.ingesup.controllers.Menu</servlet-class>
    <init-param>
      <param-name>choix</param-name>
      <param-value>Document</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentServlet</servlet-name>
    <url-pattern>/Document</url-pattern>
  </servlet-mapping>
  <!-- FIN MENU -->
  <servlet>
    <description></description>
    <display-name>AuthServlet</display-name>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>com.ingesup.controllers.Authentification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/Auth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthDownServlet</display-name>
    <servlet-name>AuthDownServlet</servlet-name>
    <servlet-class>com.ingesup.controllers.Deconnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthDownServlet</servlet-name>
    <url-pattern>/AuthDown</url-pattern>
  </servlet-mapping>
</web-app>