<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>IngesupWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AgendaServlet</servlet-name>
    <servlet-class>com.IngesupWeb.servlet.MenuServlet</servlet-class>
    <init-param>
    	<param-name>choix</param-name>
    	<param-value>Agenda</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgendaServlet</servlet-name>
    <url-pattern>/Agenda</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Menu2Servlet</servlet-name>
    <servlet-class>com.IngesupWeb.servlet.MenuServlet</servlet-class>
    <init-param>
    	<param-name>choix</param-name>
    	<param-value>Menu2</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Menu2Servlet</servlet-name>
    <url-pattern>/Menu2</url-pattern>
  </servlet-mapping>
</web-app>