@CHARSET "UTF-8";

body {
	background-color: #F5F5F5;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
}

#contener {
	background-color: #FFF;
	width: 1000px;
	/*height: 500px;*/
	margin: 5% auto;
	border-radius: 20px;
	border: solid 1px #000;
	box-shadow: 8px 8px 12px #aaa;
}

#contener p{
	margin-top: 0px;
	padding-top: 0px;
	
}

#contener-header {
	background-color: #FFF;
	width: 100%;
	height: 100px;
	border-radius: 20px 20px 0 0;
}

#contener-header img{
	border-radius: 20px 0 0 0;
}

#contener-header-form{
	width: 30%;
	height: 98px;
	border-radius: 0 20px 0 0;
	float: right;
}

#contener-header-form table{
	margin: 4% auto;
}

#contener-header-form table p{
	text-align: right;
}

#contener-body {
	background-color: #FFF;
	width: 100%;
	/*height: 373px;*/
	height: 600px;
	border-bottom: solid 1px #000;
	border-top: solid 1px #000; 
}

#contener-footer {
	background-color: #0E97A4;
	width: 100%;
	height: 25px;
	border-radius: 0 0 20px 20px;
	border-bottom: solid 1px #0E97A4;
}

#contener-footer p{
	padding-top: 5px;
}

#contener-body-menu{
	width: 15%;
	height: 100%;
	border: solid 0px #0E97A4;
	float: left;
}

#contener-body-menu ul{
	list-style: none;
	padding-left: 10px;
}

#contener-body-menu ul a{
	text-decoration: none;
}

#contener-body-menu ul a:VISITED{
	color: inherit;
}

#contener-body-menu li a:HOVER, a:ACTIVE{
	padding-left: 10px;
}

#contener-body-menu li{
	border-bottom: solid 1px #000;
	margin-bottom: 10px;
}

#contener-body-view{
	width: 85%;
	height: 100%;
	float: right;
	border: solid 0px red;
}

#contener-body-view iframe{
	margin-left: 3%;
}

#contener-body-view table.abscence{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	text-align: left;
	border-collapse: collapse;
	margin: 0 auto;
}
	
#contener-body-view table.abscence th{
	font-weight: normal;
	font-size: 14px;
	color: #339;
	padding: 10px;
	
	
}

#contener-body-view table.abscence td{
	color: #669;
	border-top: 1px solid #fff;
	padding: 5px 5px;
	text-align: center;
	width: 50px;
}

#contener-body-view table.abscence tfoot td{
	font-size:11px;
	
}

#contener-body-view table.abscence tbody td{
	background: url("../pictures/back.png");
	
}

#contener-body-view table.abscence tbody tr:hover td{
	color:#339;
	background:none;
	
}

#contener-body-menu li._Red a{
	color: #990000; 
}

#contener-body-menu li._Blue a{
	color: #0e97a4; 
}

#contener-body-menu li._Yellow a{
	color: #B79000; 
}

#contener-body-menu li._Black a{
	color: #000; 
}

#contener-body-menu li._Green a{
	color: #088A08; 
}
