.menu li {
float:left;
margin-left: 10px;
list-style-type:none;
font-size: 1em;
}


.item input {
	margin-left: auto;
	margin-right: auto;
}

.item h3 {
	margin: auto;
}

.item li {
	float: left;
	list-style-type: none;
	font-size: 1em;
	text-align: center;
}

#connexion p {
	font-size: 14px;
}
#connexion label {
	float:left;
	width:70px;
}



.contents {
	width: 70%;
	/* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

.container div{
	float:left;
}
.container {
	position : relative;
	width: 80%;
}
.cart {
	background-color: #eee;
	position: absolute;
	right: 0px;
	width:25%;
}
.cart p{
	clear:both;
}

.footer{
	clear:both;
}

.footer p {
display:inline-block;

}

